* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    animation-duration: 0.33s;
}

body {
    background-color: #eee;
    color: #000;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Droid Sans, Arial, sans-serif;
}

header {
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
    padding: 4px;
    color: white;
    font-weight: 700;
    /*background-color: teal;*/
    background-color: #4a6670;
    box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.3);
}

header h1 {
    position: relative;
    text-align: left;
}

h1 {
    width: 100%;
    font-size: 2.4rem;
    margin-bottom: 12px;
    margin-top: 12px;
    text-align: center;
}

#sensors-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    border-radius: 8px;
    background-color: white;
    border-style: solid;
    border-width: 0px;
    border-color: #888;
    color: #000;
    margin: 8px;
    padding: 16px;
    width: auto;
    min-width: 400px;

    box-shadow: 3px 4px 12px 3px rgba(0,0,0,0.2);
}

.card p {
    margin: 0;
}

.sensor-reading-kind {
    font-size: 1.2rem;
}

.sensor-reading-value {
    font-size: 1.2rem;
    text-align: right;
}

.sensor-status-online:before {
    content: "●";
    color: green;
}

.sensor-status-offline:before {
    content: "●";
    color: red;
}

.sensor-content-readings {
    list-style: none;
    text-align: center;
}

.sensor-content-readings li:not(:last-child) {
    margin-bottom: 12px;
}

.card-title {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.card-subtitle {
    font-style: italic;
    text-align: center;
    font-size: 1rem;
    color: #333;
}

.card-content {
    margin-top: 12px;
}

@media not screen and (max-width: 800px) {
    .centered {
        width: 800px !important;
        margin-left: calc(50% - 400px);
    }

}

@media screen and (max-width: 800px) {
    header h1 {
        width: 100%;
        position: relative;
        padding-left: 16px;
        text-align: left;
    }

    .card {
        width: 95%;
    }
}
